.navContainer {
	width: 100vw;
}

button {
	padding: 0.5rem 1rem;
	border: none;
	background-color: #004e98;
	color: #f5f7fa;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
