.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  background-color: #f5f7fa;
}

.container {
    padding: 2rem;
    display: flex;
    justify-content: center;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1.5rem;    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: #fff;
  }
  
  img {
    max-height: 300px;
    object-fit: contain;
    margin-bottom: 1rem;
    border-radius: 6px;
  }
  
  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    // gap: .5rem;
  }
  
  .price {
    font-size: 1.4rem;
    color: #2a8703;
    font-weight: bold;
  }
  
  .category {
    font-style: italic;
    color: #555;
  }
  
  .description {
    line-height: 1;
  }
  
  button {
    margin-top: 1rem;
    padding: 0.6rem;
    background-color: #004e98;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: fit-content;
  }
  
  button:hover {
    background-color: #00376d;
  }
  
  .loading, .error {
    text-align: center;
    margin-top: 2rem;
  }
  